.booking-area-style{
    display: flex;
    background-image: url('../../images/Image/Rectangle\ 1.png');
    color : white;
    background-size: cover;
    height: 100vh;
}
.place-description-style{
    width: 50%;
    color : white;
}
.booking-form-style{
    width : 40%;
    height: 500px;
    /* height: 500px; */
    border: 1px solid gray;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}